@import url(https://fonts.bunny.net/css?family=amita:700);

body {
    background-color: rgb(248, 245, 245);
    min-height: 100vh;
    display: -webkit-flex;
    display: flex;
    flex-direction: column;
}

h1 {
    color: #4c4c49;
    font-family: Amita;
    margin: -4vh auto -7vh;
    width: 450px;
    font-size: 15vh;
    text-align: center;
    text-decoration: underline double;
}

h2 {
    color: #636361;
    font-family: Amita;
    font-size: 8.5vh;
    text-align: left;
    margin: 4vh 0 0vh
}

.photostrip {
    background-color: rgb(238, 235, 235);
    display: -webkit-flex;
    display: flex;
    flex-direction: row;
}

.album {
    width: 20vmin;
    height: 30vmin;
    margin: 1vmin 2vmin;
    background-color: white;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.album img {
    object-fit: cover;
    width: 100%;
    height: 20vmin;
    flex-shrink: 0;
}

.album h3 {
    /* width: 100%; */
    max-width: 20vmin;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1;
    padding: 0 0.2em;
    margin: 0;
    font-family: Amita, sans-serif;
    text-align: center;
    flex-grow: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

footer {
    background-color: #bc6c25;
    display: -webkit-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    min-width: 100vw;
}

.container {
    max-height: 100%;
    max-width: 100%;
    text-align: center;
}